body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    line-height: 1.3;
}

.achievement-text {
    text-align: justify;
    font-size: 0.8em;
}

ul {
    padding-left: 20px;
}

.list {
    line-height: 1.5;
    font-size: 0.8em;
    text-align: justify;
}

hr {
    width: 95vw;
    text-align: left;
    border: 1px solid #a3a3a3;
    margin: 0px;
    margin-left: 20px;
}

.subtitle-text {
    font-family: 'Mooli', sans-serif;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-size: large;
}

.emphasis-text {
    font-family: 'Mooli', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.background-1 {
    background: #e9e9e9;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background:  #FAF3DD;
}

.background-5 {
    background:  #4576fd;
}

.h-80 {
    height: 80px;
}

.h-30 {
    height: 30px;
}

.h-175 {
    height: 175px;
}

.w-80 {
    width: 80px;
}

.w-250 {
    width: 80px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
}

.header-title {
    flex: 2;
    display: flex;
    min-width: 300px;
    justify-content:left;
    align-items: center;
}

.title-text {
    font-family: 'Mooli', sans-serif;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

.title-text-name {
    font-weight:600;
}

.title-text-job {
    font-weight: lighter;
}

.header-contact {
    min-height: 175px;
    font-size: small;
}

.contact-info {
    line-height: 30px; 
    vertical-align: middle;
}

.body-profile {
    display: flex;
    flex-wrap: wrap;
}

.body-profile-photo {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 295px;
}

.body-profile-text {
    flex: 3;
    text-align: justify;
    font-size: 0.8em;
    min-width: 200px;
}

.body-attributes {
    display: flex;
    flex-wrap: wrap;
}

.body-attributes-skills{
    flex: 1;
    min-width: 300px;
    padding-right: 15px;
}

.body-attributes-education{
    flex: 1;
    min-width: 300px;
}

.body-experiance {
    display: flex;
    font-size: 0.8em;
    text-align: justify;
}

.body-experiance-content {
    flex: 1;
    line-height: 1.3;
}

.footer-container {
    display: flex;
    margin-bottom: 20px;;
}

.footer-content {
    font-size: 0.8em;
    color: #686868;
    margin: auto;
    display: flex;
}
.copywrite {
    padding-top: 25%;
    vertical-align: middle;
}

.font-color-1{
    color: #383838;
}